<%= link_to root_path, class: "btn btn-circle" do %>
  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="black"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
<% end %>

<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
  <legend class="fieldset-legend">Login</legend>

  <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
  <%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

  <%= form_with url: session_path, html: {class: "flex flex-col gap-4"} do |form| %>
    <div>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "input" %><br>
    </div>
    <div>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input" %><br>
    </div>
    <%= form.submit "Sign in", class: "btn" %>
  <% end %>

  <div class="flex justify-between">
    <%= link_to "Forgot password?", new_password_path, class: "link-hover" %>
    <%= link_to "Doesn't have an account?", new_registers_path, class: "link-hover"%>
  </div>
</fieldset>
