<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to "Social Media App", homepages_path, class: "btn btn-ghost text-xl" %>
  </div>
  <div class="flex gap-2">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <% if Current.user.avatar.attached? && Current.user.avatar.persisted? %>
            <%= image_tag Current.user.avatar %>
          <% else %>
            <%= image_tag "https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"%>
          <% end %>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <%= link_to "Profile", edit_user_path(Current.user)%>
        </li>
        <li>
          <%= link_to "Log out", session_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure ? "} %> 
        </li>
      </ul>
    </div>
  </div>
</div>